APP_NAME="Orchestrator UAT"
APP_ENV=staging
APP_URL=https://ticket-uat.montagnaservizi.com
APP_LOCALE=it
APP_KEY=
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ticket_uat
DB_USERNAME=ticket_uat
DB_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MEM_LIMIT_APP=512m
MEM_LIMIT_WORKER=256m
MEM_LIMIT_DB=384m
MEM_LIMIT_REDIS=128m
MEM_LIMIT_MAILPIT=128m
